.description{
    width: 100%;
    text-align: center;
    border-bottom: solid 2px var(--theme-color);
    margin-bottom: 40px;
    padding-bottom: 5px;
}

/* .articlesContainer{
    display: grid;
    grid-template-columns: 30.3% 30.3% 30.3%;
    grid-gap: 3%;
    justify-content: center;
} */

.articlesContainer{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
